<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tümü</key>
	<string>TÜMÜ</string>
	<key>Desteklediklerim</key>
	<string>Desteklediklerim</string>
	<key>Fikirlerim</key>
	<string>Fikirlerim</string>
	<key>Duyurular</key>
	<string>Duyurular</string>
	<key>Muhtarım</key>
	<string>Muhtarım</string>
	<key>Muhtar</key>
	<string>Muhtar</string>
	<key>signup</key>
	<string>Kayıt Ol</string>
	<key>login</key>
	<string>Giriş Yap</string>
	<key>login-with-facebook</key>
	<string>Facebook ile Bağlan</string>
	<key>or</key>
	<string>veya</string>
	<key>Profilim</key>
	<string>Profilim</string>
	<key>Profil</key>
	<string>Profil</string>
	<key>logout</key>
	<string>Çıkış Yap</string>
	<key>connect</key>
	<string>Bağlan</string>
	<key>Popüler</key>
	<string>Popüler</string>
	<key>En Son</key>
	<string>En Son</string>
	<key>forgot-pass</key>
	<string>Şifremi unuttum</string>
	<key>submit</key>
	<string>Gönder</string>
	<key>forgot-pass-description</key>
	<string>Eğer şifreni unuttuysan aşağıya e-posta adresini yazarak gönderdiğimiz link ile yeni bir şifre oluşturabilirsin.</string>
	<key>password</key>
	<string>Şifre</string>
	<key>email</key>
	<string>E-posta adresi</string>
	<key>read-agreement</key>
	<string>Kullanım koşullarını kabul ediyorum</string>
	<key>name</key>
	<string>Ad</string>
	<key>surname</key>
	<string>Soyad</string>
	<key>username</key>
	<string>Kullanıcı adı</string>
	<key>hood</key>
	<string>Mahalle</string>
	<key>Yarattığı Fikirler</key>
	<string>Yarattığı Fikirler</string>
	<key>Profili Düzenle</key>
	<string>Profili Düzenle</string>
	<key>Güncelle</key>
	<string>Güncelle</string>
	<key>Arama Sonuçları</key>
	<string>Arama Sonuçları</string>
	<key>Başvuruldu</key>
	<string>Başvuruldu</string>
	<key>Gelişmekte</key>
	<string>Gelişmekte</string>
	<key>Çözüldü</key>
	<string>Çözüldü</string>
	<key>Yorumlar</key>
	<string>Yorumlar</string>
	<key>Destekçi</key>
	<string>Destekçi</string>
	<key>Düzenle</key>
	<string>Düzenle</string>
	<key>Ekle</key>
	<string>Ekle</string>
	<key>Başlık</key>
	<string>Başlık</string>
	<key>Açıklama</key>
	<string>Açıklama</string>
	<key>Etiketler (max 3)</key>
	<string>Etiketler  (max 3)</string>
	<key>Resimler  (max 3)</key>
	<string>Resimler  (max 3)</string>
	<key>Anonim olarak başvuru yap</key>
	<string>Anonim olarak başvuru yap</string>
	<key>Kaydet</key>
	<string>Kaydet</string>
	<key>Fotoğraf Çek</key>
	<string>Fotoğraf Çek</string>
	<key>İptal</key>
	<string>İptal</string>
	<key>İnternet bağlantınızı kontrol ediniz</key>
	<string>İnternet bağlantınızı kontrol ediniz</string>
	<key>ok</key>
	<string>Tamam</string>
	<key>Fikir</key>
	<string>Fikir</string>
	<key>Değiştir</key>
	<string>Değiştir</string>
	<key>fbPermissionMessage</key>
	<string>Facebook ile giriş yapabilmek için ayarlardan BiTaksi uygulamasına izin vermelisiniz.</string>
	<key>Yeniden Dene</key>
	<string>Yeniden Dene</string>
</dict>
</plist>
